/* .ul_lang_list {
    overflow: hidden;
}

.ul_lang_list li:first-of-type a {
    border-top-left-radius: 0.1875rem;
    border-top-right-radius: 0.1875rem;
}
.ul_lang_list li:last-of-type a {
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    border-bottom: none;
}

.ul_lang_list .lang_link {
    display: flex;
    align-items: center;
    padding: 0.4rem 0.95rem;
    color: #333;
    border-bottom: 1px solid #80808054;
}
.ul_lang_list li:hover a {
    background: #324148;
    color: white;
} */
.img-flag {
    height: 1rem;
    width: 30px;
    margin-top: 0.18752rem;
    vertical-align: top;
    object-fit: cover;
    border: 0.5px solid;
}

.lang-flag {
    display: block;
    max-width: 100%;
    max-height: 50px;
    border: 0.5px solid;
}

.details_status {
    font-size: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 0 12px 5px #00000099;
    text-shadow: 2px 2px 3px #000000;
    backdrop-filter: blur(10px);
}
.details_status.is_deleted {
    transform: rotate(40deg);
    border-style: dashed;
}
.details_status.is_active {
    transform: rotate(30deg);
    border-style: solid;
}
.details_status.not_is_active {
    border-style: dotted;
    width: 200px;
    height: 200px;
}
